


/*------------------------------------------- General Styles -------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Ovo&display=swap');
.navbar .navbar-inverse{
  padding:0;
}
.navbar{
  margin:0;
}
h1 {
  font-family:  'Lato', sans-serif;
  font-size: 700%;
  line-height: 80%;
  margin:0;
}
h2 {
  font-family:  'Lato', sans-serif;
  font-size: 48px;
  line-height: 60px;
  margin:0;
  color: #1e4277;
}
h3 {
  align-self: auto;
  font-family:  'Lato', sans-serif;
  font-size: 200%;
  line-height: 100%;
  margin:0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight:800;
  text-transform: uppercase;
  color:#1A6FA8;
}

h4 {
  font-family:  'Lato', sans-serif;
  font-size: 2;
  line-height: 4vw;
  margin:0;
  margin-top: .1vw;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #1e4277;
}
h5 {
  font-family:  'Lato', sans-serif;
  font-size: 21px;
  line-height: 24px;
  margin:0;
}
h6 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin:0;
}
p, ul, li ,ol, strong, i {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin:0;
  line-height: 1.8;
  color:#353535;
  margin:0;
}
a {
  font-family: 'Open Sans', sans-serif;
  color:#1e4277;
  text-decoration: none;
  transition: 150ms all;
}

a:hover {
  color:#1a6fa8;
  text-decoration: none;
}
body {
  margin:0;
}
/*------------------------------------------- INDEX -------------------------------------------*/


.names {
  font-size: 36px; 
  font-size-adjust:unset;
  text-align: center;
  line-height: 1.2;
}

.row1 {
  display: flex;
  padding: 2vw;
  flex-wrap: wrap;
  background-image: linear-gradient(0deg, #1A6FA8, #174563) ;
  margin: 0;

}
.row{
  justify-content: center;
}
.row .box{
  
  padding: 3px;
  margin: border; /* !importanté */
  background: linear-gradient(320deg, #07522a00 10%, #00db63 50%);
      /* height: fit-content; */
      padding: 3px;
      margin: border;
      background: linear-gradient(320deg, #07522a00 10%, #00db63 50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
}
.row .box a{
  
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;

}

.row .box:hover{

  box-shadow: 0 3px 20px rgb(0, 0, 0);
  background: linear-gradient(0deg, #07522a 40%, #00db63 50%);
}

.row .box .content {
  background-color: #ebf5ff;
  padding: 20px;
  height: 100%;
  font-size: 2vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.row .box .image {
    
    width:100%;

}
.row1 .box .image {
  width:100%;

}

.row .box .image img {
  width:100%;
  max-height: 30vh;
  border-radius: 10px 10px 0 0;
  transition: 250ms all;
  object-fit:cover;
  
  object-position: 30% 15% ;

}
.row1 .box .image img {
  width:100%;
  max-height: 30vh;
  border-radius: 10px 10px 0 0;
  transition: 250ms all;
  object-fit:cover;
}
@media screen and (min-width: 1920px){
  .row {
    display: flex;
    padding: 1.5vw;
    flex-wrap:wrap;
    background-image: linear-gradient(0deg,#226368, #1aa8a3) ;
    
  }
  .row .box {
    transition: 0.3s;
    width:30rem;
    margin:.5vw;
    border-radius: 10px;

    
  }
  .row .box:hover{
    z-index:1;
    opacity: 1;
    transition: 0.3s;

    scale: 1.1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.467);
    border-radius: 10px;
  }
  .row:hover .box:not(:hover){
    opacity: .5;
  }
  .row .content h4{
    margin: auto;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    line-height: 200%;
  }
  .names {
  }
}
@media screen and (min-width: 1024px)and (max-width: 1919px){
  .row {
    display: flex;
    padding: 1.5vw;
    flex-wrap:wrap;
    background-image: linear-gradient(0deg,#226368, #1aa8a3) ;
    
  }
  .row .box {
    transition: 0.3s;
    width:30vw;
    margin:10px;
    
    border-radius: 10px;

  }
  .row .box:hover{
    z-index:1;
    opacity: 1;
    transition: 0.3s;
    scale: 1.1;
  
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.467);
    border-radius: 10px;
  }
  .row:hover .box:not(:hover){
    opacity: .5;
  }
  .row .box .content {
    padding: .1vw;
    font-size: 2vw;
  }
  .row .content h4{
    margin: auto;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    line-height: 200%;
  }
  .names {
  }
}

@media screen and (min-width: 550px) and (max-width: 1023px){
  .row {
    
    display: flex;
    padding: 1.5vw;
    flex-wrap:wrap;
    background-image: linear-gradient(0deg,#226368, #1aa8a3) ;
    
  }
  .row .box {
    transition: 0.3s;
    height: 80%;
    align-items: stretch;
    margin:5px;
    
    border-radius: 10px;
  }
  .row .box:hover{
    z-index:1;
    opacity: 1;
    transition: 0.3s;
    scale: 1.1;
    border-radius: 10px;
  }
  .row:hover .box:not(:hover){
    opacity: .5;
  }
  .row .box .content {
    padding: .1vw;

    font-size: 2vw;
  }
  .row .content h4{
    margin: auto;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    line-height: 200%;
  }
  .names {
  }
}

@media screen and (max-width: 549px){
  .row {
    
    padding: 10%;
    
    flex-wrap:wrap;
    background-image: linear-gradient(0deg,#226368, #1aa8a3) ;
    align-items: center;
  }
  .row .box {
    transition: 0.3s;
    width:80%;
    height: auto;
    margin: 10%;
    margin-bottom: 2rem;
    background-color:#dfe3e9;
    border-radius: 10px;
    opacity: .5;
    z-index: 1;
  }
  .row:hover .box:not(:hover){
    opacity: .5;
  }
  .highlight--1{
    scale: 1.05;
    opacity: 0.7 !important;
    z-index: 2 !important;
  }
  .highlight--2{
    scale: 1.2;
    opacity: 1 !important;
    z-index: 3 !important;
  }
  .row .box .content {
    padding: .1vw;
    height: 16vw;
    font-size: 2vw;
  }
  .row .content h4{
    margin: auto;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    line-height: 200%;
  }
  .names {
  }
  footer{
    padding-top: 20% !important;
    padding-bottom: 20% !important;
  }
}


.row1 .box {
  transition: 0.3s;
  width:10%;
  flex:auto;
  margin:10px;
  background-color:#dfe3e9;
  border-radius: 10px;
}

.row1 .box:hover {
  transition: 0.3s;
  width:30%;
  flex:auto;
  margin:10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.467);
  background-color:#dfe3e9;
  border-radius: 10px;
}
.row1 .box .content {
  padding: .3rem;
  font-size: 2vw;

}


.row1 .content h4{
  padding: .1rem;
  font-size: 1vw;
}
#banner {
    text-align:center;
    background-color:#111111;
    padding: 80px 0px 80px 0px;
    margin: 0 ;
}
#banner h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1%;
}

#dropDownList{
  padding:0 0 0 0;
}


footer {
  
  background-image: linear-gradient(350deg, #073f21, #00db63);
  padding:5% ;
  margin: 0 auto;
  text-align: center;
}
footer a {
  text-decoration: none;
  color:#fff;
}
.row h2 {
  color:#4f4f4f;
  color:#18e672;
  text-align: center;
}
.center {
  text-align: center;
  margin: 0 auto;
}

.meetTheTeamText {
  text-align:center;
  color:#dfe3e9;
  font-size:40px;
  font-weight:600;
  text-transform: uppercase;
  margin-top:50px;
  
  letter-spacing:2px;
  word-spacing:3px;
  font-family: 'Lato', sans-serif;
}

.otherPagesText {
  text-align:center;
  color:#dfe3e9;
  font-size:40px;
  font-weight:600;
  text-transform: uppercase;
  margin-top:50px;
  
  letter-spacing:2px;
  word-spacing:3px;
  font-family: 'Lato', sans-serif;
}

body.coreStyle {
  margin:0px;
  background-color:#E0E0E0;
}
.black-nav {
  background-color:#212121;
}
.black-nav .dropbtn {
  border-bottom: 3px solid #353535;
  transition: 250ms all;
}
.black-nav .dropbtn:hover {
  border-bottom: 3px solid #E89B00;
}
/* Hero */
.coreStyle .hero {
  height:10%;
  width:100%;
  position: relative;
  display: inline-block;
  justify-content: left;
  border-bottom: 10px solid #353535;
  background-image: linear-gradient(350deg, #073f21, #00db63);
  
}


@keyframes l-door {
  0% {left: -21%; opacity: 1;}
  100% {left: -75%; opacity: 0.9;}
}
@keyframes r-door {
  0% {left: 35%; opacity: 1;}
  100% {left: 75%; opacity: 0.9;}
}



@media screen and (min-width: 1024px){
  .coreStyle .hero h1 {
    color:#fff;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px){
  .coreStyle .hero h1 {
    color:#fff;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 10rem;
  }
}
@media screen and (max-width: 767px){
  .coreStyle .hero h1 {
    color:#fff;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 5rem;
  }
}

/* Body */
.page {
  width: 100%;
  display: flex;
}
.sidebar img{
  margin: auto;
  border:5px solid #353535;
  aspect-ratio: 1/1;
  width:70%;
  height:auto;
  border-radius: 50%;
}

@media screen and (min-width: 1024px){
  .page .sidebar {
    display:flex;
    flex-direction: column;
    background-color:#cccccc;
    width:30%;
    padding: 2%;
  }
  .page .sidebar h2 {
    font-family:  'Lato', sans-serif;
    font-size: 6rem;
    font-weight: 800vw;
    line-height: 100%;
    margin:0;
    color: #1e4277;
  }
  /* .page .sidebar .image img {
    border-radius: 50%;
    width:50%;
    box-shadow: 0 3px 35px rgba(0,0,0,0.15);
  } */

  
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .page .sidebar {
    display:flex;
    flex-direction: column;
    background-color:#cccccc;
    width:30%;
    padding: 2%;
  }
  .page .sidebar h2 {
    font-family:  'Lato', sans-serif;
    font-size: 5rem;
    font-weight: 800vw;
    line-height: 100%;
    margin:0;
    color: #1e4277;
  }
}

@media screen and (max-width: 767px){
  .page{
    flex-direction: column;
  }
  .page .sidebar {
    display:flex;
    flex-direction: column;
    background-color:#cccccc;
    width:100%;
    padding: 2%;
  }
  .page .sidebar h2 {
    font-family:  'Lato', sans-serif;
    font-size: 6rem;
    font-weight: 800vw;
    line-height: 100%;
    margin:0;
    color: #1e4277;
  }
}



.coreStyle hr {
  border-bottom: 6px dashed #bababa;
}

.page .content {
  width:70%;
  padding: 10% 10% 10% 5%;
}
.coreStyle footer {
  padding: 5%;
  background-color:#353535;
  text-align: center;
  height:fit-content;
}
.coreStyle footer p {
  color:#eee;
}
a.btn-gold, a.btn-gold:link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 12px 25px;
  background-color:#D89F3A;
  text-decoration: none;
  color:#fff;
  font-weight: 700;
  border-radius: 24px;
  transition: 250ms all;
  margin-bottom: 20px;
  margin-top: 20px;
}
a.btn-gold:hover, a.btn-gold:active {
  background-color:#AA590F;
}
.hover-effect:after {
  width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #000;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 350ms;
}
.hover-effect:hover:after {
  height:200px;
  opacity: 0.25;
}
#blue-list strong {
  color: #1a6fa8;
}

.timbody{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;

}

.timh5{
  color: #555;
  font-weight: 600;
  font-kerning: auto;
}

.timh4{
color:rgb(92, 92, 92);
font-weight: 800;
font-kerning: normal;

}

.tiModalBtn{
  transition: .1s;
  background:linear-gradient(75deg, #AA590F, #E89B00);;
  padding:1em 2em;
  border-radius:  20px;
  color:#fff;
  border:0;
  margin: .5em;
/*
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  */
}
.tiModalBtn:hover{
  transition: .2s;
  background:linear-gradient(75deg,  #E89B00, #AA590F);
  padding:2em 3em;
  border-radius:  20px;
  color:#fff;
  border:0;
  margin: .5em;
/*
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  */
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.timbutton:hover{
  background: #353535;
}


.Timodal-dialog{
  margin: 0vw,0vw,0vw,0vw;
}
@media screen and (max-width: 767px){
  .modal-header{
    padding: 3rem;
  }
  .modal-title{
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .modal-header{
    padding: 3rem;
  }
  .modal-title{
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1024px){
  .modal-header{
    padding: 4rem;
  }
  .modal-title{
    font-size: 5rem;
  }
}





.modal-content{
  background-color: #f4f4f4;
  margin:  3vw;
  padding:5px;
  width:93vw;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}


.row .modalBtn .image {
  width:100%;
}
.row .modalBtn .image img {
  width:100%;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
  transition: 250ms all;
  transition: 250ms all;
  object-fit: cover;
}
.row .modalBtn .image img:hover {
  opacity: 0.65;
}
.row .modalBtn {
  width:33.333%;
  flex:1;
  margin:10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
  background-color:#fff;
  border-radius: 10px;
}
.row .modalBtn .cont  ent {
  padding: 25px;
}

.timcloseBtn{
  color:lightgray;
  float: right;
  font-size:30px;

}

.timcloseBtn:hover,.timcloseBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen{
  from{opacity:0}
  to{opacity: 1}
}



.modal-Image{
  border:5px solid #353535;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 1;

}
.modal-Image:hover{
  border:10px solid #181818;

}

.modal-Art{
  border:5px solid #555;
  border-radius: 2vw;
  margin: .5vw;
}

.modal-body{
  position: relative;
  padding: 1vw;
}


.modal-content{
  background-image: linear-gradient(75deg, #AA590F, #E89B00);
  border-radius: 2vw;
}

/*dropdown*/

.dropbtn {
  background-color: #353535;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #262626}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #3a3a3a;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3a3a3a;
}






